body{
	font-size: 25px;

}

button{
	height:50px;
	width:72px;
	margin-top: 5px;
}

.zero_button{
	width:151px;
}

.display{
	height:200px;
	width:313px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-top: 15px;
	text-align: right;
	background-color: #B1E358;
	font-family: 'digital-7';
}

.history{
	height: 35px;
	font-size: 20px;
}

#display_history{
	
}

#display_input{
	font-size: 36px;
}

input{
	background-color: #B1E358;
	outline: none;
	height:50px; 
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: right;
	vertical-align: bottom;
	border: none;
}

input:focus{
	background-color: #B1E358;
	outline: none;
}

.container{
	height: 565px;
	width: 345px;
	max-width: 345;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: gray;
	margin-top: 5%;
}

@font-face {
    font-family: 'digital-7'; /*a name to be used later*/
    src: url('fonts/digital-7.ttf'); /*URL to font*/
}


